<!DOCTYPE html>
<html>

<head>
    <title>Error Page</title>
</head>

<body style="
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: #0b101b;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
">
    <div style="
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    ">
        <h1 style="
            margin: 0px;
        ">
            Error!
        </h1>
        <p style="
            font-weight: 500;
            font-size: 18px;
            margin-top: 6px;
            margin-bottom: 4px;
        ">
            There has been an error with your deposit.
        </p>
        <p style="
            font-weight: 300;
        ">
            Please contact us.
        </p>
    </div>
</body>

</html>