<!DOCTYPE html>
<html>

<head>
    <title>Success Page</title>
</head>

<body style="
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: #181e29;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
">
    <div style="
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    ">
        <h1 style="
            margin: 0px;
        ">
            🎉 Congratulations! 🎉
        </h1>
        <p style="
            font-weight: 500;
            font-size: 18px;
            margin-top: 6px;
            margin-bottom: 4px;
        ">
            You have successfully deposited {{amount}}!
        </p>
        <p style="
            font-weight: 300;
            margin-bottom: 83px;
        ">
            You can now close this window.
        </p>
    </div>
</body>

</html>