.popUpCard {
  padding: 0px;
  min-width: 500px;
  background-color: white;
  border-radius: 9px;
}

.checkout {
  height: calc(90vh + 83px);
  margin-bottom: -10px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.checkoutWrapper {
  height: 90vh;
  border-radius: 8px;
  overflow: hidden;
}


@media (max-width: 768px) {
  .popUpCard {
    min-width: 90%;
  }

  .checkout {
    height: calc(80vh + 83px);
    margin-bottom: -10px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
  }

  .checkoutWrapper {
    height: 80vh;
    border-radius: 8px;
  }
}