.popUp {
  max-width: 480px;
  max-height: 80vh;
  padding: 0px !important;
}
.formHeading {
  text-transform: uppercase;
}
.buttonWrapper {
  display: flex;
  justify-items: stretch;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 12px;
}
.form {
  padding: 40px;
  overflow-y: auto;
  max-height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .popUp {
    max-width: none;
    width: 80vw;
    box-sizing: border-box;
  }

  .form {
    padding: 20px;
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
  }
}
