.root {
  padding: 40px;
}

.allGames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.gameWrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.gameImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  object-fit: cover;
}