.root {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  gap: 86px;
}

.footerTop {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: start;
  justify-items: center;
  justify-content: space-around;
}

.footerBottom {
  text-align: center;
}

.logo {
  width: 150px;
  margin-top: 4px;
}

.footerHeading {
  margin: 0px 0px 12px;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0 auto 0 0;
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.footerLink {
  cursor: pointer;
  transition: all 300ms;
  color: var(--text);
}

.footerLink:hover {
  color: var(--secondary);
}


@media (max-width: 768px) {
  .footerTop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
    justify-items: center;
    justify-content: space-around;
  }
  
}