.root {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, transparent, var(--neutral800)), url('../../../assets/bgs/bg.jpg');
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
}

.ctaWrapper {
    max-width: 1024px;
    display: flex;
}

.cta {
    width: 50%;
    padding: 40px;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
    text-align: start;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1;
    margin: 2px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
}

.subText {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

.subHeading {
    margin: 0px 0px 24px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 1.75em;
}

.description {
    margin: 0px 0px 48px;
    padding: 0px;
}

@media (max-width: 768px) {
    .cta {
        width: 100%;
        padding: 20px;
        margin-right: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: start;
        justify-items: center;
        text-align: start;
    }
  }